<head>
<%= stylesheet_link_tag "tasks", media: "all", "data-turbo-track": "reload" %>
</head>
<h1>Tasks List from views-tasks-index </h1>
<div class="tasks">

<div class="new_task" >
<%= link_to 'New Task', new_user_task_path(current_user) %>
</div>
</div>
<div class="task_view">
<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong>Title:</strong> <%= task.title %><br>
      <strong>Description:</strong> <%= task.description %><br>
      <strong>Due Date:</strong> <%= task.due_date %><br>
      <strong>Status:</strong> <%= task.status.present? ? task.status.humanize : "unknown" %><br>
    
      <div class="edit-delete-button">
        <%= link_to 'Edit', edit_user_task_path(current_user, task) %>
      </div>
      <div class="edit-delete-button">
        <%= button_to 'Delete', user_task_path(current_user, task), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure you want to delete this task?' } %>
      </div>
    </li>
  <% end %>
</ul>
</div>