<h1>Tasks List from views-tasks-index </h1>

<ul>
<% @tasks.each do |task| %>
  <li>
    <strong>Title:</strong> <%= task.title %><br>
    <strong>Description:</strong> <%= task.description %><br>
    <strong>Due Date:</strong> <%= task.due_date %><br>
    <strong>Status:</strong> <%= task.status.present? ? task.status.humanize : "unknown" %><br>
    
    <%= link_to 'Edit', edit_user_task_path(current_user, task) %> |
    
    <%= button_to 'Delete', user_task_path(current_user, task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
  </li>
<% end %>
</ul>

<%= link_to 'New Task', new_user_task_path(current_user) %>
