<div class="container">
  <h2><%= @task.new_record? ? "Create a task:" : "Edit task:" %></h2> 
<%= form_with model: [current_user, @task] do |form| %>
    <div class="form_fields">
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </p>
      <p>
        <%= form.label :due_date %><br>
        <%= form.text_field :due_date %>
      </p>
      <p>
        <%= form.label :status %><br>
        <%= form.select :status, Task.statuses.keys.map { |status| [status.humanize, status] }, selected: @task.status || "pending" %>
      </p>
    </div>
    
    <div class="submit">
      <p>
<%= form.submit @task.new_record? ? "Create Task" : "Update Task" %>
      </p>
    </div>
  <% end %>
</div>
