<% if user_signed_in? %>
  <h1>Welcome <%= current_user.email %> Here is your tasks List </h1>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong>Title:</strong> <%= task.title %><br>
        <strong>Description:</strong> <%= task.description %><br>
        <strong>Due Date:</strong> <%= task.due_date %><br>
        <strong>Status:</strong> <%= task.status.present? ? task.status.humanize : "unknown" %><br>
        
        <%= link_to 'Edit', edit_user_task_path(current_user, task) %> |
        
        <%= link_to 'Delete', user_task_path(current_user, task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Task', new_user_task_path(current_user) %>
<% else %>
  <h1>Welcome to the world's most unique application</h1>
  <p>
    This app has been created no less than a 100 million times before, and you are one of the lucky few millions who get to try it.
  </p>
  <%= link_to 'sign in', new_user_session_path %>
  <p>or <br>
  <%= link_to 'sign up', new_user_registration_path %> </p>
  
<% end %>
